// @import "../assets/scss/components/btn.scss";
@import "../components/btn.scss";
@import "../base/font.scss";

.QA{
    // ----------測試區----------
    #move-line-box{
    padding: 30px;
    position: relative;
    }
    #move-line{
    max-width: 100px;
    position: absolute;
    transition: 0.15s;
    }
    .line-box{
        padding: 30px 0px;
        max-width: 800px;
        margin: auto;
    }
    .long-line{
        margin: 20px auto;
        border-bottom: 1px solid #B3B3B3;
    }
    .short-line{
        margin: auto;
        width: 30%;
        max-width: 200px;
        height: 3px;
        background-color: #00ADBB;
    }
    // .js-click.js-hd-shadow{
    //     box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    //     transition: 0.5s;
    // }
    // ----------測試區----------
    // .search{
    //     h2,.Input{
    //         display: inline-block;
    //     }
    //     // :deep(.Input){ width: 600px; }
    // }
    :deep(.input){ 
        // width: 600px;
        width: 100%;
        margin: 10px 0 30px;
    }    
    min-height: calc(100vh - 70px);
    padding: 20px 0 50px;
    display: flex;
    flex-direction: column;
    p,a{
        color: $clr_gray_L1;
    }
    h2{
        padding: 15px;
        color: $clr_gray_L1;
    }
    .container{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding-bottom: 50px;
        aside{
            width: 20%;
            .QA_menu{
                li{
                    display: flex;
                    cursor: pointer;
                    padding: 15px;
                    color: $clr_gray_L1;
                    border-top: 1px solid $clr_gray_L4;
                    transition: $trs;
                    &:hover{
                        background: $clr_blue_L4;
                        transition: $trs;
                    }
                    &:last-child{
                        border-bottom: 1px solid $clr_gray_L4;
                    }
                    h3{
                        order: 1;
                    }
                    .at{
                        width: 5px;
                        height: 22px;
                        margin-right: 10px;
                        background: $clr_blue_L2;
                    }
                }
            }
        }
        main{
            width: calc(80% - 100px);
            .QA_list{
                li{
                    padding: 10px 30px;
                    color: $clr_gray_L1;
                    border-radius: 10px;
                    &:nth-child(odd){
                        background: $clr_blue_L4;
                    }
                }
            }
        }
    }
}