// @import "../assets/scss/components/btn.scss";
@import "../components/btn.scss";
@import "../base/font.scss";

.QA{
    min-height: calc(100vh - 70px);
    padding: 20px 0 50px;
    display: flex;
    flex-direction: column;
    p,a{
        color: $clr_gray_L1;
    }
    h2{
        padding: 15px;
        color: $clr_gray_L1;
    }
    .container{
        flex-grow: 1;
        width: 100%;
        @include minW(1200px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        padding-bottom: 50px;
        aside{
            display: none;
            @include minW(1200px){
                display: block;
                width: 20%;
            }
            .QA_menu{
                li{
                    display: flex;
                    cursor: pointer;
                    padding: 15px;
                    color: $clr_gray_L1;
                    border-top: 1px solid $clr_gray_L4;
                    transition: $trs;
                    &:hover{
                        background: $clr_blue_L4;
                        transition: $trs;
                    }
                    &:last-child{
                        border-bottom: 1px solid $clr_gray_L4;
                    }
                }
                li.at{
                    &::before{
                        content: '';
                        display: block;
                        width: 5px;
                        height: 22px;
                        margin-right: 10px;
                        background: $clr_blue_L2;
                    }
                }
            }
        }
        main{
            width: 100%;
            @include minW(1200px){
                width: calc(80% - 100px);
            }
            .search{
                display: flex;
                align-items: center;
                .input-gold{ 
                    width: 100%;
                    margin: 10px 0 30px;
                }
                button{
                    border: none;
                    background: none;
                    color: $clr_gray_L1;
                    &:hover{
                        color: $clr_gold_L1;
                        transition: $trs;
                    }
                    &:active{
                        color: $clr_gold_L0;
                    }
                    &:focus-visible{
                        outline: none;
                        color: $clr_gold_L1;
                    }
                    &:focus:not(:focus-visible){
                        outline: none;
                    }
                    i{
                        cursor: pointer;
                        margin: 10px 10px 30px;
                    }
                }
            }
            .tabs{
                display: none;
                @include maxW(1200px){
                    display: block;
                }
                position: relative;
                border-bottom: 3px solid $clr_blue_L1;
                margin-bottom: 30px;
                .tab{
                    position: relative;
                    top: 1px;
                    cursor: pointer;
                    display: inline-block;
                    background: $clr_fff;
                    color: $clr_gray_L1;
                    margin: 0 -2px;
                    border: 1px solid $clr_blue_L3;
                    border-radius: 12px 12px 0px 0px;
                    @include btnPadding(10, 30);
                    &:hover{
                        background: $clr_blue_L3;
                        transition: $trs;
                    }
                    &:active{
                        background: $clr_blue_L2;
                    }
                    &:focus-visible{
                        border-radius: 8px;
                    }
                    &:focus:not(:focus-visible){
                        outline: none;
                    }
                }
                .tab.at{
                    background: $clr_blue_L1;
                    border-color: $clr_blue_L1;
                    color: $clr_fff;
                }
            }
            .QA_list{
                li{
                    padding: 15px 30px;
                    color: $clr_gray_L1;
                    border-radius: 10px;
                    &:nth-child(odd){
                        background: $clr_blue_L4;
                    }
                }
            }
        }
    }
}